.container__body {
    font-family: Arial, sans-serif;
    background-color: #c57b14;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbar */
}

.container {
    background-image: linear-gradient(
        #47a4c3 0%,
        #73d895 50%,
        #52bbbe 16%,
        #eb75ac 24%,
        #37dae2 40%,
        #73d895 48%,
        #dc8eb0 76%,
        #d18f75 100%
    );
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    width:450px;
    background-color: hsla(49, 83%, 55%, 0.955);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.4s linear forwards; /* Slide up animation */
    opacity: 0; /* Initially hidden */
    overflow-y: auto; /* Enable scrollbar only if content exceeds container height */
}

.register-form {
    max-width: 300px;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.login-button {
    background-color: #28a745;
}

.login-button:hover {
    background-color: #218838;
}

/* Slide up animation */
@keyframes slideUp {
    0% { transform: translateY(100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}